.vagrant/*
config/nginx/ernest.key
config/nginx/ernest.crt
natsc
posgres/
logs/
config/.logger
internal/features/_test/
*__.go
*__.go
docker-compose.local.yml
docker-compose.test.yml
license.txt
ernest-verifier
